.wrapper{
  display:flex;
  flex-direction:column;
  width: 100;
}

.wrapper #StartOfContent {
  margin: auto;
  height: 30px;
  align: center:
}

.wrapper #content {
  height: auto;
  align: center:
}

.wrapper #EndOfContent {
  margin: auto;
  height: 500px;
  align: center:
}
