.wrapper{
  display:flex;
  flex-direction:column;
  width: 100;
}

.wrapper #StartOfContent {
  margin: auto;
  height: 30px;
}

.wrapper #content {
  height: auto;
}

.wrapper #EndOfContent {
  margin: auto;
  height: 70vh;
}
